In [1]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_excel('Metric-SpreadSheet-Assignment.xlsx')
df = df.iloc[:, :-3]

In [92]:
user_ratings = df[1:11]
header = df.iloc[0]
user_ratings.columns = header.fillna('Users')
user_ratings.set_index('Users', inplace=True)
user_ratings

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Users,,,,,,,,,,
5136,4.5,5,5,4,5,5,5,3,NaN,5
918,5,5,4.5,NaN,3,NaN,5,NaN,5,NaN
2824,4.5,NaN,5,NaN,4.5,4,NaN,NaN,5,NaN
860,4,4,4.5,NaN,2.5,3,NaN,4,4.5,NaN
442,3,NaN,3,4,1,5,3,2,4,5
3556,4,4,4,4,3,5,NaN,NaN,NaN,4
5261,NaN,NaN,5,NaN,1.5,0.5,NaN,4,5,NaN
2492,4.5,3.5,3.5,3.5,4,4,NaN,4,4,5
4942,NaN,3.5,4,4,3.5,4,5,NaN,5,3.5
2267,NaN,NaN,3.5,NaN,NaN,5,1.5,NaN,4,NaN

In [93]:
user_preds = df[15:25]
user_preds.columns = header.fillna('Users')
user_preds.set_index('Users', inplace=True)
user_preds

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Users,,,,,,,,,,
5136,4.1,4.3,4.7,3.7,3.8,4.8,3.2,4.1,NaN,4.4
918,4,2.3,4.6,NaN,2.6,NaN,4.4,NaN,5,NaN
2824,4.7,NaN,4.8,NaN,3.9,4.2,NaN,NaN,4.2,NaN
860,4,3,3.8,NaN,4.1,3.6,NaN,2.8,4.1,NaN
442,3.6,NaN,4.2,3,2.2,4.2,2.2,2,4.5,5
3556,4.3,4.7,3.7,2,4.4,4.1,NaN,NaN,NaN,4.3
5261,NaN,NaN,4.6,NaN,3.5,1.7,NaN,4,4.5,NaN
2492,4.1,2.7,4.2,4.3,3.3,3.3,NaN,4,3.2,4.6
4942,NaN,2.4,3.3,5,4.2,4.6,4.4,NaN,4.2,4.1
2267,NaN,NaN,3.9,NaN,NaN,4.4,2.6,NaN,2.5,NaN

### 1: MAE for each user:

In [61]:
mae_user = df[27:37]
mae_user.columns = header.fillna('Users')
mae_user.set_index('Users', inplace=True)
by_user_mae = mae_user.mean(axis=1).sort_values(ascending=False)
by_user_mae

Users
2267    0.900000
3556    0.842857
5261    0.820000
918     0.800000
860     0.785714
4942    0.762500
5136    0.733333
442     0.677778
2492    0.588889
2824    0.400000
dtype: float64

### 2: MAE for each movie:

In [62]:
by_movie_mae = mae_user.mean(axis=0).sort_values(ascending=False)
by_movie_mae

0
12: Finding Nemo (2003)                                                               1.166667
22: Pirates of the Caribbean: The Curse of the Black Pearl (2003)                     1.088889
14: American Beauty (1999)                                                            1.020000
38: Eternal Sunshine of the Spotless Mind (2004)                                      0.980000
77: Memento (2000)                                                                    0.662500
24: Kill Bill: Vol. 1 (2003)                                                          0.644444
13: Forrest Gump (1994)                                                               0.500000
63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                         0.460000
11: Star Wars: Episode IV - A New Hope (1977)                                         0.414286
85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.380000
dtype: float64

### 3: Three models of MAE:

In [60]:
print("normal MAE: ", mae_user.sum().sum() / mae_user.count().sum())
print("by-user MAE: ", by_user_mae.mean())
print("by-movie MAE: ", by_movie_mae.mean())

normal MAE:  0.7246376811594202
by-user MAE:  0.731107142857143
by-movie MAE:  0.7316785714285714

### 4: MSE and RMSE for each user:

In [72]:
# mse:
mse_series = np.square(mae_user).sum(axis=1) / mae_user.count(axis=1)

# rmse:
rmse_series = np.sqrt(mse_series)

Users
5136    0.889444
918     1.212436
2824    0.473286
860     0.926591
442     0.800694
3556    1.037166
5261    1.081665
2492    0.642045
4942    0.783422
2267    0.997497
dtype: float64

### 5: Overall MSE and RMSE:

In [77]:
print("Overall MSE: ", np.square(mae_user).sum().sum() / np.square(mae_user).count().sum())
print("Overall RMSE: ", np.sqrt(np.square(mae_user).sum().sum() / np.square(mae_user).count().sum()))

Overall MSE:  0.7944927536231883
Overall RMSE:  0.8913432299755175